* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
}
body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}
main {
  text-align: center;
}

.box {
  max-width: 500px;
  margin: 30px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  text-align: center;
}

.title {
  background: none;
  box-shadow: none;
  color: blueviolet;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
}

form.edit {
  display: flex;
}

.item {
  min-height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input[type="checkbox"] {
  margin: 20px;
  margin-left: 0;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 20px 0;
  font-size: 20px;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button.add {
  width: 52px;
  height: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: hsl(262, 63%, 70%);
  color: #fff;
  font-size: 30px;
  border-width: 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 0 15px;
}

button.add:hover {
  background-color: hsl(262, 63%, 60%);
}

button.add:active {
  background-color: hsl(262, 63%, 80%);
}

button.edit {
  margin-left: 0px;
  margin-right: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.edit:hover .icon {
  filter: brightness(0.5);
}

.icon {
  height: 20px;
  transition: filter 0.3s ease-in-out;
}

input[type="text"] {
  text-align: left;
  height: 35px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 80%;
  border-bottom: 2px solid #a683e3;
}

input[type="text"]:focus {
  outline: none;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

footer {
  margin-top: auto;
  color: white;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
}
